.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  border-block-end: 1px solid #ccc;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  list-style-type: none;
  font-weight: 500;
  font-family: "Inter", sans-serif;
font-size: 16px;
line-height: 1.5;
text-align: center;
/* color: #d84343; */
color: #101828;
}
