.list {
  display: flex;
  flex-direction: column;
  gap: 44px;
}
.header {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-bottom: 16px;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
}
.comment {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
}
