@font-face {
  font-family: 'Inter';
  src:
    url('/fonts/Inter18pt-Medium.woff2') format('woff2'),
    url('/fonts/Inter18pt-Medium.woff') format('woff'),
    url('/fonts/Inter18pt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src:
    url('/fonts/Inter18pt-Regular.woff2') format('woff2'),
    url('/fonts/Inter18pt-Regular.woff') format('woff'),
    url('/fonts/Inter18pt-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src:
    url('/fonts/Inter18pt-SemiBold.woff2') format('woff2'),
    url('/fonts/Inter18pt-SemiBold.woff') format('woff'),
    url('/fonts/Inter18pt-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --main: #101828;
  --text: #475467;
  --white: #ffffff;
  --inputs: #f7f7f7;
  --badges: #f2f4f7;
  --gray: #6c717b;
  --gray-light: #dadde1;
  --button: #e44848;
  --button-hover: #d84343;
  --rating: #ffc531;
  --font-main: 'Inter', Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;

  color: var(--main);
  background: var(--white);
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding: 0 64px;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: var(--font-main);
  cursor: pointer;
  border: none;
}

* {
  margin: 0;
  padding: 0;
}
