.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  min-height: 100vh;
  gap: 64px;
  padding-top: 48px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.loadMoreBtn {
  border: 1px solid #dadde1;
  border-radius: 200px;
  padding-block: 16px;
  padding-inline: 32px;
  width: 145px;
  height: 56px;
}
