.itemWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 64px;
  padding-top: 24px;
  gap: 24px;
  /* min-width: 1312px; */
  min-height: 588px;
}

.gallery {
  display: flex;
  flex-direction: row;

  gap: 16px;
  align-items: center;
  padding: 28px 0;
}
.image {
  border-radius: 10px;
  object-fit: cover;
}
.name {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
}
.price {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  gap: 12px;
}

.ratingLocation {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  margin-bottom: 8px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
}
.location {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
  margin-bottom: 60px;
  width: 1312px;
}
.btnContainer {
  display: flex;
  gap: 40px;
  position: relative;
  padding-bottom: 24px;
}
.tabButton {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  background-color: var(--white);
}
.active {
  text-decoration: underline;
  text-decoration-color: red;
  text-underline-offset: 24px;
}

.btnContainer::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background-color: var(--gray-light);
  z-index: 1;
}
.wrapper {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-top: 44px;
}
